:root {
  --body-color: #fffaf3;
  --header-color: rgba(255, 250, 243, 1);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --font-color: black;
  --black-color: black;
  --white-color: white;
}

:root.dark-mode {
  --body-color: #141e24;
  --header-color: #291b39;
  --shadow-color: rgba(255, 255, 255, 0.1);
  --font-color: #ffffff;
  --black-color: #ffffff;
  --white-color: #1e1e1e;
}

@keyframes typing1 {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes typing2 {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(0);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--body-color);
  line-height: 1.6;
  height: auto;
}

a {
  text-decoration: none;
}

a:focus,
button:focus {
  outline: none;
}

ul {
  list-style: none;
}

/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--header-color);
  height: 70px;
  padding: 0 20px;
  box-shadow: 0 2px 4px var(--shadow-color);
  margin-bottom: 10px;
}

.ul-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.link-page {
  font-size: 14px;
  color: var(--font-color);
  font-weight: 600;
  position: relative;
  transition: color 0.3s ease;
}
.link-page::after {
  content: '';
  background-color: blue;
  position: absolute;
  width: 0;
  height: 2px;
  top: 20px;
  left: 0;
  transition: width 0.3s ease-in-out;
}

.link-page:hover::after {
  width: 100%;
}

.link-page:hover {
  color: blue;
}

.icon-link {
  width: auto;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-icon {
  height: 140%;
  transition: transform 0.3s ease;
}

.nav-icon:hover {
  transform: scale(1.1);
}

.menu-btn {
  display: none;
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 90px;
  gap: 2rem;
}
.dark-light {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.light,
.dark {
  font-size: 25px;
  color: var(--black-color);
  display: inline-block;
  transition: transform 0.2s ease;
}

.light:hover,
.dark:hover {
  transform: rotate(30deg);
  cursor: pointer;
}

.dark {
  display: none;
}

.language {
  display: flex;
  width: 50%;
  align-items: center;
}

.english,
.french {
  width: 100%;
  font-size: 14px;
  font-weight: 800;
  border-radius: 90px;
  background-color: var(--black-color);
  padding: 7px;
  color: var(--white-color);
  transition: all 0.2s ease;
}

.english:hover,
.french:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px var(--shadow-color);
}

.small-nav {
  display: none;
}
/* main-hero */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  width: 90vw;
  background-color: var(--black-color);
  border-radius: 15px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  z-index: 1;
}

.horizon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  width: 100%;
}

.right-hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 130%;
}

.hero-img {
  height: 100%;
  width: 90%;
  object-fit: cover;
  animation: float 3s ease infinite normal, shadow 1.5s ease-in-out infinite;
}
.left-hero {
  margin-left: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-hero {
  font-size: 2.5rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.head1 {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  animation: typing1 4s steps(12) infinite, blink 2s step-end infinite alternate;
}

.head2 {
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  display: inline-block;
  animation: typing2 4s steps(30) infinite, blink 4s step-end infinite alternate;
}

.p-hero {
  margin-top: 1rem;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  color: var(--white-color);
  max-width: 400px;
  font-size: 14px;
  letter-spacing: 1px;
  z-index: 2000;
}

.bg-colored-bl {
  position: relative;
  display: inline-block;
}

.bg-colored-bl::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0%;
  width: 130%;
  height: 50%;
  padding: 15px 8px;
  z-index: -1;
  transform: translateY(-50%);
  border-radius: 10px;
  background-color: #5449ff;
  border-radius: 40px 60px 20px 30px;
  transform: rotate(10deg);
}

.bg-colored-gr {
  position: relative;
  display: inline-block;
}

.bg-colored-gr::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 90%;
  height: 50%;
  padding: 20px 10px;
  padding-top: 0px;
  z-index: -1;
  transform: translateY(-50%);
  border-radius: 10px;
  background-color: #23d07d;
  border-radius: 20px;
}

.joinUs {
  padding: 10px 70px;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: var(--body-color);
  font-family: 'Plus Jakarta Sans', sans-serif;
  transition: 0.3s all ease;
  font-weight: 550;

  z-index: 3000;
  .button-hero {
    transition: all 0.2s ease;
    color: var(--black-color);
  }
  .button-hero:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.joinUs:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Join Us */
.joinUsForm {
  z-index: -100;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 83vh;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px 35px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.showing {
  z-index: 100;
  opacity: 1;
}

.close-join {
  position: absolute;
  right: 5%;
  top: 3%;
  font-size: 17px;
  font-weight: 700;
  transition: all 0.2s ease;
}

.close-join:hover {
  transform: scale(1.2);
}

.input-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 1rem;
  gap: 10px;
  width: 30vw;
}

.input-item {
  width: 100%;
}

.input-title {
  font-size: 14px;
  margin-top: 2px;
}

.join,
.choice {
  outline: none;
  background-color: #ffbd7a;
  border: 1px solid var(--black-color);
  border-radius: 5px;
  padding: 10px 10px;
  width: 100%;
}

.join::placeholder {
  font-size: 12px;
}

.joining {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background-color: #ff8000;
  margin-top: 10px;
  border-radius: 7px;
  border: none;
  transition: all 0.2s ease;
  transform-origin: center;
  box-shadow: 0px 1px 2px var(--shadow-color);
}

.joining:hover {
  background-color: #ffbd7a;
  transform: translateX(-50%) scale(1.2);
  border: 1px solid var(--black-color);
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-holder {
  width: 90vw;
  background-color: var(--black-color);
  border-radius: 15px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  z-index: 1;
  margin: 20px;
}
.upper {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 50%;
  width: 100%;
}

a {
  color: var(--white-color);
  font-size: 14px;
}

.left-upper {
  margin-left: 50px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-right: 200px;
}

.footer-p {
  text-align: left;
  width: 100%;
}
.middle-upper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 10%;
}

.right-upper {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 40%;
}

.footer-img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -30px;
  left: 3%;
}

.lower {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 14px;
}

.first-lower {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--white-color);
  padding-bottom: 20px;
}

.follow {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid var(--white-color);
  width: auto;
}

.footer-media {
  font-size: 17px;
  margin-right: 20px;
  transition: all 0.1s ease;
}

.footer-media:hover {
  transform: scale(1.2);
}

.second-lower {
  margin-left: 50px;
}

/* About Page */
/* beginning */
.head-section-about {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.main-about {
  width: 90%;
  display: flex;
  height: 100%;
  background-color: #5449ff;
  border-radius: 10px;
  box-shadow: 0px 5px 10px var(--shadow-color);
}
.left-about {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(-20px);

  h1 {
    margin-top: 20px;
    font-size: 3.5rem;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    animation: typing1 2s steps(20, end) forwards infinite,
      blink 1.5s step-end infinite;
  }

  p {
    font-size: 15px;
    width: 300px;
    font-weight: 600;
    line-height: 1.8;
  }
}

.right-about {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.about-video {
  width: 80%;
  border-radius: 10px;
  box-shadow: 0px 2px 7px var(--black-color);
}

.side-info-about {
  width: auto;
  padding: 10px 15px;
  background-color: var(--body-color);
  border-radius: 20px;
  position: absolute;
  box-shadow: 0px 2px 10px rgb(167, 155, 155);
  animation: smallFloat 2s ease infinite;
}

.side1 {
  --initial-transform: translateY(-400%);
}

.side2 {
  --initial-transform: translateY(350%) translateX(-90%);
}

.side3 {
  --initial-transform: translateY(-350%) translateX(-160%);
}

.side4 {
  --initial-transform: translateY(400%) translateX(60%);
}

/* Why horizon */
.why-horizon {
  width: 90vw;
  height: 80vh;
  padding: 3vh 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #23d07d;
  color: var(--white-color);
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px var(--shadow-color);
}

.left-why {
  display: flex;
  flex-direction: column;
  gap: 40px;
  p {
    font-size: 14px;
  }
  width: 90%;
}

.right-why {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  justify-content: center;
  h2 {
    font-size: 36px;
    text-align: center;
    width: fit-content;
    overflow: hidden;
    white-space: nowrap;
    animation: typing1 4.5s steps(20) forwards infinite,
      blink 3s step-end infinite;
  }
}

.left-why {
  width: 60%;
}

.why {
  background-color: var(--body-color);
  color: var(--black-color);
  padding: 10px 5px;
  border-radius: 20px;
  opacity: 0;
  width: 100%;
}

.animating-why {
  animation: from-left-to-right 2s forwards;
}

@keyframes from-left-to-right {
  0% {
    opacity: 0;
    transform: translateX(-100vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0vw);
  }
}
@keyframes smallFloat {
  0% {
    transform: var(--initial-transform) translateY(0px);
  }
  50% {
    transform: var(--initial-transform) translateY(-10px);
  }
  100% {
    transform: var(--initial-transform) translateY(0px);
  }
}

/* core team */
.core-team,
.swiper {
  height: 80vh;
}

.swiper {
  width: 100%;
}

.member {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s ease;
}

.member-photo {
  border: 1px solid var(--black-color);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.member h3 {
  margin: 0.5rem 0;
  font-size: 1.5rem;
}

.member p {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 800;
  margin-bottom: 5px;
}

.member a {
  display: block;
  color: var(--black-color);
  font-size: 20px;
  margin-top: 10px;
  transition: all 0.2s ease;
}

.member a:hover {
  transform: scale(1.1);
}

.ri-mail-line {
  border-radius: 90px;
  padding: 10px;
  border: 1px solid var(--black-color);
  transition: all 0.4s linear;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 10px;
  width: 300px;
  height: 50vh;
}

.core-h {
  position: relative;
  font-size: 2.5rem;
  margin: 30px 0;
}

.core-h::after {
  position: absolute;
  counter-reset: '';
  color: yellow;
  width: 30%;
  height: 2px;
  top: 20%;
}

.swiper-wrapper {
  height: 50vh;
}
.formations {
  font-size: 2.5rem;
  text-align: center;
}

.f1 {
  text-indent: 70px;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  animation: typing1 3.5s forwards infinite, blink 2s step-end infinite;
}

.f0 {
  text-indent: -80px;
  animation: typing1 3.5s forwards infinite, blink 2s step-end infinite;
  width: fit-content;
  overflow: hidden;
  white-space: nowrap;
}

.formations-workshops {
  width: 80vw;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 25px;
  gap: 25px;
  background: linear-gradient(to right, #f7b185, #a3c9e6);
  border-radius: 20px;
}

.formation {
  display: flex;

  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  border: 1px solid black;
  border-radius: 25px;
  background-color: var(--body-color);
  padding: 20px;
}

.photo-formation {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.img-formation {
  border-radius: 25px;
  width: 100%;
  height: 180px;
  box-shadow: 0 0 5px var(--shadow-color);
}

.formation-name {
  font-weight: 800;
  font-size: 1.3rem;
}

.formation-instructor {
  font-size: 1rem;
}

.why-span {
  font-weight: 800;
}

.container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.container.show {
  opacity: 1;
  transform: translateY(0);
}

/* partners */
.partners-h {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.partners {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  overflow: hidden;
  background: var(--white-color);
  border-radius: 16px;
  box-shadow: 0 4px 30px var(--black-color);
  backdrop-filter: blur(7.4px);
  -webkit-backdrop-filter: blur(7.4px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}

.partners-imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
}

.partners-imgs img {
  width: 180px;
  height: 100%;
  margin: 20px;
}
.slider {
  width: 100%;
  height: 100px;
  display: flex;
  margin-bottom: 30px;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000 10% 90%, transparent);
}
.slider .list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: calc(var(--width) * var(--quantity));
  position: relative;
}
.slider .list .item {
  width: var(--width);
  height: var(--height);
  position: absolute;
  left: 100%;
  animation: autoRun 10s linear infinite;
  transition: filter 0.5s;
  animation-delay: calc(
    (10s / var(--quantity)) * (var(--position) - 1) - 10s
  ) !important;
}
.slider .list .item img {
  width: 100%;
}
@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
.slider .item:hover {
  filter: grayscale(0);
}
.slider[reverse='true'] .item {
  animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay {
  from {
    left: calc(var(--width) * -1);
  }
  to {
    left: 100%;
  }
}

/* events */
.events {
  display: flex;
  width: 90vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.h-events {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.the-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.first,
.second,
.third {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}

.first,
.second {
  border-bottom: 1px solid var(--black-color);
}
.second:first-of-type {
  order: 1;
}

.second:last-of-type {
  order: 0;
}

.event {
  height: 400px;
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  img {
    width: 60%;
    height: 50%;
  }
  .alumni-photo {
    width: 75%;
  }
}

.photo-event {
  width: 50%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
  display: block;
  border: 0.5px solid var(--black-color);
}

.ideator,
.alumni,
.netgenius {
  height: 100%t;
  padding: 20px;
  border-radius: 15px;
}

.event-learn {
  color: var(--black-color);
  background-color: #ffbd7a;
  padding: 10px 20px;
  border-radius: 15px;
  font-weight: 600;
  transition: all 0.3s ease;
}

.event-learn:hover {
  background-color: #ff8000;
  transform: scale(1.1);
}

.event-p {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 600;
  max-width: 80%;
}

.second {
  flex-direction: row-reverse;
}

.see-events {
  background-color: var(--white-color);
  color: var(--black-color);
  border: 0.5px solid var(--black-color);
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 15px;
  margin-top: 30px;
  font-weight: 800;
  transition: all 0.4s ease;
}
.see-events:hover,
.see-events:active,
.see-events:focus {
  transform: scale(1.09);
  letter-spacing: 10px;
  background-color: #786ffc;
  color: var(--white-color);
}

.disable-clicks {
  pointer-events: none;
}

.hidden-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.7s ease-out, opacity 0.7s ease-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

/* Events Page */
.ImagesFromEvents {
  width: 100%;
  height: 70vh;
  max-width: 90vw; /* Adjust as needed */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.imgs-wrapper {
  display: flex;
}

.evenment-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.evenment-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; /* Optional */
}

/* Swiper Pagination */
.swiper-pagination {
  position: absolute;
  bottom: 10px;
}

/* Swiper Navigation Buttons */
.swiper-button-prev,
.swiper-button-next {
  color: #fff; /* Change color */

  padding: 10px;
  border-radius: 50%;
}

.all-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.all-events-h {
  width: 90vw;
}

.all-events-h span {
  display: inline-block;
  animation: wave 1.9s infinite ease-in-out;
  white-space: nowrap;
}

@keyframes wave {
  0% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-25px) rotate(-2deg);
  }

  100% {
    transform: translateY(0) rotate(0deg);
  }
}

/* Stagger animation */
.all-events-h span:nth-child(1) {
  animation-delay: 0s;
}
.all-events-h span:nth-child(2) {
  animation-delay: 0.1s;
}
.all-events-h span:nth-child(3) {
  animation-delay: 0.2s;
}
.all-events-h span:nth-child(4) {
  animation-delay: 0.3s;
}
.all-events-h span:nth-child(5) {
  animation-delay: 0.4s;
}
.all-events-h span:nth-child(6) {
  animation-delay: 0.5s;
}
.all-events-h span:nth-child(7) {
  animation-delay: 0.6s;
}
.all-events-h span:nth-child(8) {
  animation-delay: 0.7s;
}

.otherEvents {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.small {
  width: 25vw;
  height: 500px;
  perspective: 1000px;
}

.small-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.small:hover .small-inner {
  transform: rotateY(180deg);
}

.small-front,
.small-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: var(--white-color);
  border: 0.5px solid var(--black-color);
  padding: 10px;
  backface-visibility: hidden;
}

.small-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.small-event-img {
  width: 80%;
  object-fit: cover;
}

.small-back {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(180deg);
}

.small-event-p {
  font-size: 27px;
  text-align: center;
  font-weight: 600;
  padding: 10px;
}

.swiper-pagination {
  z-index: 1000;
  color: var(--black-color);
  color: #000;
}

.arrow {
  color: #5449ff;
  font-weight: 700;
}

header {
  position: sticky;
  top: 0%;
  z-index: 100;
}

.card-hint {
  margin-bottom: 20px;
  font-size: 30px;
}

.partners-imgs {
  box-shadow: none;
}

.h-events,
.f0,
.f1,
.core-h,
.event-p,
.card-hint,
.side-info-about,
.job,
.partners-h {
  color: var(--black-color);
}

.member {
  p {
    color: var(--black-color);
  }
}

.right-why {
  h2 {
    color: white;
  }
}

.left-about {
  p,
  h1 {
    color: white;
  }
}

.event-learn {
  color: black;
}

.small-front,
.small-back {
  background-color: white;
}

.formation {
  background-color: #fffaf3;
}

.first,
.second,
.third {
  width: 90vw;
}

@media (max-width: 900px) {
  /* header */
  .ul-menu {
    display: none;
  }
  .options {
    margin-right: 0px;
  }
  .link-page {
    margin-left: 30px;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 0.7px;
  }
  .menu-btn,
  .close-btn {
    color: var(--black-color);
    display: block;
    cursor: pointer;
    font-size: 25px;
    font-weight: 800;
  }
  .close-btn {
    margin-left: 30px;
  }
  .nav-icon {
    height: 100%;
  }

  .small-nav {
    background-color: var(--header-color);
    display: block;
    height: 100vh;
    width: 50vw;
    position: fixed;
    top: 0;
    left: -50vw;
    z-index: 2000;
    transition: all 0.3s ease;
    .ul-menu {
      margin-top: 10px;
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      gap: 30px;
    }
  }
  /* hero */

  .hero {
    height: 70vh;
  }
  .horizon {
    justify-content: flex-start;
  }

  .header-hero {
    font-size: 1.7rem;
    line-height: 2.2;
  }

  .right-hero {
    width: 40%;
  }

  .hero-img {
    height: 150px;
    object-fit: cover;
  }

  .left-hero {
    margin: 0;
  }

  .p-hero {
    font-size: 11px;
  }

  .joinUsForm {
    height: 87vh;
    width: 60vw;
    padding-bottom: 0;
  }

  .input-list {
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }

  .input-title {
    font-size: 15px;
  }

  .join,
  .choice {
    font-size: 15px;
  }

  .join::placeholder {
    font-size: 15px;
  }

  /* footer */
  .left-upper {
    margin-left: 50px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-right: 10%;
  }

  .footer-img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: -30px;
    left: 6%;
  }

  /* about */
  /* beginning */
  .head-section-about {
    height: fit-content;
  }
  .main-about {
    flex-direction: column;
    align-items: center;
    p {
      font-size: 13px;
    }

    h1 {
      font-size: 2.5rem;
    }
  }
  .right-about {
    width: 70%;
  }
  .about-video {
    margin-bottom: 20px;
    border-radius: 10px;
    margin-top: 40px;
  }

  .left-about {
    margin-bottom: 210px;
  }

  .why-span {
    font-weight: 800;
  }

  .side1 {
    --initial-transform: translateY(-280px) translateX(50px);
  }

  .side2 {
    --initial-transform: translateY(-230px) translateX(-50px);
  }

  .side3 {
    --initial-transform: translateY(-180px) translateX(50px);
  }

  .side4 {
    --initial-transform: translateY(-130px) translateX(-50px);
  }

  /* why */
  .left-why {
    p {
      font-size: 12px;
    }
  }

  .right-why {
    h2 {
      font-size: 30px;
    }
  }
  .right-why,
  .right-why {
    width: 100%;
    margin-bottom: 10px;
  }

  .why-horizon {
    display: flex;
    flex-direction: column;
    padding: 0;
    text-align: center;
  }
  .why-item:first-child {
    order: 1;
  }
  .why-item:last-child {
    order: 0;
  }

  /* Formations */
  .formations-workshops {
    grid-template-columns: 1fr 1fr;
  }

  .f0,
  .f1 {
    font-size: 30px;
  }

  /* partners  */
  .partners-imgs img {
    margin: 20px 50px;
  }

  .events {
    padding: 50px 0;
  }

  /* main events */
  .first,
  .second,
  .third {
    flex-direction: column;
    flex-direction: column-reverse;
    padding: 30px 0;
    width: 80%;
  }

  .event {
    width: 100%;
  }

  .photo-event {
    width: 100%;
  }

  .event-p {
    font-size: 12px;
  }

  /* small events */
  .otherEvents {
    flex-direction: column;
    gap: 20px;
  }

  .small {
    width: 50vw;
    height: 50vh;
  }

  .small-event-p {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .hero-img {
    height: 180px;
    z-index: 1000;
  }
  /* hero */
  .horizon {
    flex-direction: column;
  }
  .item:first-child {
    order: 1;
  }
  .item:last-child {
    order: 0;
  }
  .p-hero {
    margin-bottom: 20px;
  }

  .hero {
    height: fit-content;
  }

  .joinUs {
    margin-top: 20px;
  }
  .right-hero {
    height: 50%;
    width: 80%;
    margin-bottom: 20px;
  }

  .left-hero {
    margin: 10px 15px;
  }

  .joinUsForm {
    height: 78vh;
    width: 90vw;
    padding-bottom: 0;
  }

  .input-list {
    width: 100%;
    align-items: center;
    margin-bottom: 10px;
  }

  .footer-holder {
    height: 90vh;
  }

  .upper {
    flex-direction: column;
    gap: 20px;
  }

  .left-upper,
  .right-upper,
  .middle-upper {
    margin-left: 50px;
  }

  .footer-img {
    left: 5%;
    top: -18%;
    width: 150px;
    height: 150px;
  }

  .copy {
    width: 70%;
  }

  .follow {
    margin-right: 10px;
    padding-right: 10px;
  }

  .ri-linkedin-box-fill {
    margin-right: 0;
  }

  .footer-media {
    font-size: 19px;
  }

  .right-about {
    width: 100%;
  }

  .right-why,
  .right-why {
    width: 100%;
  }

  .why-horizon {
    display: flex;
    flex-direction: column;
    padding: 3vh 0;

    height: fit-content;
  }
  .why-item:first-child {
    order: 1;
  }
  .why-item:last-child {
    order: 0;
  }

  .swiper {
    height: 60vh;
  }

  .joinUsForm {
    height: fit-content;
    padding-bottom: 70px;
  }

  .swiper-wrapper {
    height: fit-content;
  }

  .formations-workshops {
    grid-template-columns: 1fr;
    width: 90vw;
  }

  .img-formation {
    height: 130px;
  }

  .the-events {
    height: fit-content;
    width: 90vw;
  }

  .first,
  .second,
  .third {
    width: 100%;
  }
  .events {
    width: 90vw;
    padding: 50px 0;
  }

  .partners-h,
  .h-events,
  .h-events,
  .all-events-h {
    font-size: 28px;
    text-align: left;
  }

  .all-events-h {
    text-align: center;
  }

  .h-events {
    text-align: center;
  }

  .event {
    width: 90vw;
    padding: 20px 0;
  }

  .event-p {
    text-align: center;
  }

  .photo-event {
    width: 100%;
    height: 200px;
  }

  .event-p {
    max-width: 100%;
  }

  .event {
    img {
      width: 80%;
    }

    .net-img {
      width: 70%;
    }
  }

  .all-events {
    width: 90vw;
  }

  .small-event-p {
    font-size: 15px;
  }

  .small {
    width: 90vw;
  }
}
